body{
    background-image: url("../img/brick.jpeg");
    margin: 1%;
    padding: 1%;
}
img.clogo{
  width: 80%;
  padding-left:20%;
}

img.midImg{
  width: 100%;
}
img.offersImg{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
.offers{
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color:#333333;
  margin:0 auto;
  padding-top:15px;
  padding-bottom:10px;
  background-color: white;
}

.offersPara{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: justify;
  color: #666666;
  width: 80%;
  padding-bottom: 30px;
}
#top-logo{
    width: 100%;
    background-color: white;
}
#top-image{
    width: 100%;
    background-color: white;

}
.container{
    width: 100%;
    margin: auto;
}
.body{
    width: 100%;
    margin: 0 auto;
}
header.menu{
  padding:5% 13% 5% 15%;
  background-color:white;
}

/* Footer */
.foot{
  background-color: #99e265;
}
.links{
  padding-bottom:10px;
}

.footer{
  margin-left:5%;
}

.address{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #ffffff;
  position: relative;
  top:10%;
}
.last{
  height:100%;
  background-color: white;
}
.cpy{
  text-align:center;
  background-color: white;
  padding-top:10px;
  margin:0 auto;
  padding-bottom:3%;
}
.links1{
  margin-left:5%;
}
.links-a{
  color: white;
  line-height: 2;
}

.links-h1{
  font-family:'Montserrat', sans-serif;
  font-size: 28px;
  text-align: left;
  margin:0;
  padding:0;
  color: white;
  position: relative;
}

.links-p{
  font-family:'Montserrat', sans-serif;
  text-align: left;
  margin:0;
}

.contact-box{
  padding-bottom: 5%;
}

/*  Slider */
.slider{
    position:relative;
    width: 100%;
}

#whatwedo{
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: white;
}

.boxA1{
    width: 100%;
    background-color: #ffffff;
}
.boxA2{
    width: 100%;
    background-color: #ffffff;
}
.boxA3{
    width: 100%;
    background-color: #ffffff;
}

#boximageview{
    padding-bottom: 10px;
    width: 100%;
}

#boxtextview{
    margin: 0 auto;
    width: 100%;
}

#whatwedobox2{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #ffffff;
}

#button{
    margin-top: 5px;
    margin-left: 30%;
    margin-right: auto;
    width: 40%;
    height: 12%;
    border-radius: 5px;
    background-color: green;
}

#product-image{
    width: 100%;
}

#product-text{
    width: 100%;
    height: 14%;
}

#product-cost{
    width: 100%;
    height: 10%;
}

#product{
    position: relative;
    width: 100%;
    height: 95%;
    padding-bottom: 20px;
    border-bottom: 2px solid lightgrey;
    margin-top: 3%;
}

#top-selling-offers{
  background-color: white;
}
p.top-sale{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center;
  margin:0;
  color:#666666;
  background-color:#99e265;
}
.sell{
  width:30%;
  margin-left: 35%;
}

p.pname{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  margin:0 auto;
  color: #666;
}

p.price{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-align: center;
  margin:0 auto;
  color: #666;
}

p.pbutton{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
  position: relative;
}

#top-selling-offers-box{
    width:100%;
    display:inline-block;
}

a{
  text-decoration: none;
}

#footer-info-box2{

}

div.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
  background-color:green;
  overflow-x: hidden;
  padding-top: 15%;
  transition: 0.5s;
}

.side-nav a{
  text-align: center;
  padding: 1%;
  text-decoration: none;
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
  display:block;
  transition: 0.3s;
}

.side-nav a:hover{
  color: #999;
}

.side-nav .btn-close{
  position: absolute;
  top: -20px;
  right:22px;
  font-size: 56px;
  margin-left: 50px;
}

#main{
  transition: margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width: 100%;
}


.dropdown-content {
    display: block;
}
li.dropdown{
  text-decoration: none;
  display: inline;
}

@media (min-width:760px){
  #footer{
    float: left;
    width:250px;
  }
  .foot{
    display:table;
    width: 100%;
    height: 160px;
  }
  div.produc{
    float: left;
    display: inline-block;
  }
  #product{
    width: 25%;
    margin-top: 0;
  }
  #product-image{
    height: 115px;
  }
  #top-selling-offers-box{
    padding-top: 20px;
  }
  div.boxA1,div.boxA2,div.boxA3{
    width: 33.3333333333333%;
    float: left;
  }

  div.whatwedobox2{
      background-color: #ffffff;
      display: table-row;
      height: 370px;
  }
  div.boxB2{
    float: left;
    width: 50%;
  }
  div.boxB1{
  float: left;
  width: 50%;
  background-color: white;
  height: 330px;
  }
  img.sell{
    width: 50%;
    margin-left: 25%;
    height: 100%;
}
div.contact-box{
  float: left;
  width: 250px;
}
}

p{
  margin:0 auto;
}

span.open-slide{
  float: left;
  margin-top: 6%;
  margin-left: 4%;
}

span.open-dropdown{
  float: right;
  margin-top: 6%;
  margin-right: 4%;
}

span.open-pick{
  float: right;
  margin-top: 6%;
  margin-right: 4%;
  display: none;
}

a.dropdown-content{
  text-align: center;
}

/* Products page styling */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #fff;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.grid-item p{
  color: #555;
}

@media (max-width:650px){
  div.grid-container{
    display: inline-block;
  }
}

/* Articles Page */

.articles{
  background-color: #e9e9e9;
  height: 100%;
}

.art-img{
  width: 100%;
  padding: 1pc 1pc 0pc 1pc;
}

.text h3{
  text-align: center;
}

.text p{
  text-align: justify;
  padding: 1% 9% 3% 7%;
}

.art-btn{
  text-align: center;
  margin: 0 auto;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 20px;
  color: forestgreen;
}

.text{
  margin: 1pc;
}

.content{
  height: 100%;
  border-bottom: 3px solid white;
}

/* About Page Css */

.about{
  background-color:white;
  padding-bottom:20px;
}

.about-h1 h1{
  margin-top: 0;
  margin-left: 5%;
  font-weight: 650;
}

.about-h1 marquee{
  margin-left: 5%;
}
.menu-side{
  display: inline-grid;
  width: 80%;
  margin-left: 10%;
}

.btn-nav{
  float: left;
  width: 100%;
}

.boxes{
  width: 80%;
  margin-left: 10%;
}

.boxes h4{
  font-weight: 700;
}

.about-h1{
  background-image: url("../img/automotive.png");
  background-position: center;
}

.about-h1 p{
  padding-left: 5%;
  padding-right: 5%;
}

.about p{
  text-align: justify;
}

.nav-tab a{
  text-transform: uppercase;
  color: green;
  font-family: 'Square';
  font-weight: 800;
  transition: 0.5s;
}

.nav-tab{
  text-align: center;
  background-color: white;
  display: none;
  transition: all 1s ease-out;
}
