body{
    background-image: url("../img/brick.jpeg");
    margin: 1%;
    padding: 1%;
}
img.clogo{
  width: 100%;
}

img.midImg{
  width: 100%;
}
img.offersImg{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
.offers{
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color:#333333;
  margin:0 auto;
  padding-top:15px;
  padding-bottom:10px;
  background-color: white;
}

.offersPara{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: justify;
  color: #666666;
  width: 80%;
  padding-bottom: 30px;
}
#top-logo{
    width: 100%;
    background-color: white;
}
#top-image{
    width: 100%;
    background-color: white;

}
.container{
    width: 100%;
    margin: auto;
}
.body{
    width: 100%;
    margin: 0 auto;
}
header.menu{
  padding:2.5% 1% 1% 13%;
  background-color:white;
}

/*  Slider */
.slider{
    position:relative;
    width: 100%;
}

#whatwedo{
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: white;
}

.boxA1{
    width: 100%;
    background-color: #ffffff;
}
.boxA2{
    width: 100%;
    background-color: #ffffff;
}
.boxA3{
    width: 100%;
    background-color: #ffffff;
}

#boximageview{
    padding-bottom: 10px;
    width: 100%;
}

#boxtextview{
    margin: 0 auto;
    width: 100%;
}

#whatwedobox2{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #ffffff;
}

/*#boxB2{
    height: 330px;
    background-image:url("../img/brands.jpg");
}*/

#button{
    margin-top: 5px;
    margin-left: 30%;
    margin-right: auto;
    width: 40%;
    height: 12%;
    border-radius: 5px;
    background-color: green;
}

#product-image{
    width: 100%;
}

#product-text{
    width: 100%;
    height: 14%;
}

#product-cost{
    width: 100%;
    height: 10%;
}

#product{
    position: relative;
    width: 100%;
    height: 95%;
    padding-bottom: 20px;
}

#top-selling-offers{
  background-color: white;
}
p.top-sale{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center;
  margin:0;
  color:#666666;
  background-color:#99e265;
}
.sell{
  width:30%;
  margin-left: 35%;
}

p.pname{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  margin:0 auto;
  color: #666;
}

p.price{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-align: center;
  margin:0 auto;
  color: #666;
}

p.pbutton{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
  position: relative;
}

#top-selling-offers-box{
    width:100%;
    display:inline-block;
}

a{
  text-decoration: none;
}

#footer-info-box2{

}

#footer-info-box3{
  background-color:#99e265;
}

div.foot p{
  font-size: 12px;
}

div.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
  background-color:green;
  overflow-x: hidden;
  padding-top: 15%;
  transition: 0.5s;
}

.side-nav a{
  text-align: center;
  padding: 10px 5px 5px 30px;
  text-decoration: none;
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
  color: #ddd;
  display:block;
  transition: 0.3s;
}

.side-nav a:hover{
  color: #000;
}

.side-nav .btn-close{
  position: absolute;
  top:0;
  right:22px;
  font-size: 56px;
  margin-left: 50px;
}

#main{
  transition: margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width: 100%;
}


.dropdown-content {
    display: block;
}
li.dropdown{
  text-decoration: none;
  display: inline;
}

@media (min-width:760px){
  #footer{
    float: left;
    margin-right:10%;
  }
  #footer-info-box3{
    float: left;
  }
  .foot{
    display:table;
    width: 100%;
    height: 160px;
  }
  div.produc{
    float: left;
    display: inline-block;
  }
  #product{
    width: 25%;
  }
  #product-image{
    height: 100px;
  }
  #top-selling-offers-box{
    padding-top: 30px;
  }
  div.boxA1,div.boxA2,div.boxA3{
    width: 33.3333333333333%;
    float: left;
  }

  div.whatwedobox2{
      background-color: #ffffff;
      display: table-row;
      height: 370px;
  }
  div.boxB2{
    float: left;
    width: 50%;
  }
  div.boxB1{
  float: left;
  width: 50%;
  background-color: white;
  height: 330px;
  }
  img.sell{
    width: 50%;
    margin-left: 25%;
    height: 100%;
}
}

p{
  margin:0 auto;
}

span.open-slide{
  float: left;
  margin-top: 3%;
  margin-left: 2%;
}

a.dropdown-content{
  text-align: center;
}
